--extra-index-url https://huggingface.github.io/autogptq-index/whl/cu118/
packaging==23.2
peft==0.7.0
transformers==4.37.0
tokenizers==0.15.0
bitsandbytes>=0.41.1
accelerate==0.26.1
deepspeed
addict
fire
PyYAML>=6.0
datasets>=2.15.0
flash-attn==2.3.3
sentencepiece
wandb
einops
xformers==0.0.22
optimum==1.13.2
hf_transfer
colorama
numba
numpy>=1.24.4
mlflow
# qlora things
bert-score==0.3.13
evaluate==0.4.0
rouge-score==0.1.2
scipy
scikit-learn==1.2.2
pynvml
art
fschat==0.2.34
gradio==3.50.2
tensorboard

mamba-ssm==1.1.1

# remote filesystems
s3fs
gcsfs
# adlfs

trl>=0.7.9
