peft @ git+https://github.com/huggingface/peft.git
transformers @ git+https://github.com/huggingface/transformers.git
attrdict
fire
PyYAML==6.0
black
bitsandbytes==0.37.2
datasets
accelerate
sentencepiece
wandb
einops
xformers
