name: pre-commit

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  pre-commit:
    name: pre-commit
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
          python-version: "3.9"
          cache: 'pip' # caching pip dependencies
    - uses: pre-commit/action@v3.0.0
